/*spark button dropdown styles*/
.header-wrapper > .links-wrapper > .line2 > .spark-dropdown {
    position: relative;
    display: inline-block;
    transition: 0,5s;
}

.header-wrapper > .links-wrapper > .line2 > .spark-dropdown > .spark-elem {
    display: none;
    position: absolute;
    background-color: #33353b;
    opacity: 0.9;
    border-radius: 3px;
    width: 130px;
    z-index: 1;
}

.header-wrapper > .links-wrapper > .line2 > .spark-dropdown > .spark-elem a {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 1.5em;
    display: block;
}

.header-wrapper > .links-wrapper > .line2 > .spark-dropdown:hover .spark-elem {
    display: block;
}

.header-wrapper > .links-wrapper > .line2 > .spark-dropdown > .spark-elem a:hover {
    background-color: #111111;
    border-radius: 3px;
    color: white;
}

/*create button dropdown styles*/
.header-wrapper > .right-buttons > .head-button-chev {
    position: relative;
    display: inline-block;
    transition: 0,5s;
}

.header-wrapper > .right-buttons > .head-button-chev > .create-elem {
    display: none;
    position: absolute;
    background-color: #33353b;
    opacity: 0.9;
    border-radius: 3px;
    width: 145px;
    margin-left: 5px;
    z-index: 1;
}

.header-wrapper > .right-buttons > .head-button-chev > .create-elem a {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 1.5em;
    display: block;
}

.header-wrapper > .right-buttons > .head-button-chev:hover .create-elem {
    display: block;
}

.header-wrapper > .right-buttons > .head-button-chev > .create-elem a:hover {
    background-color: #111111;
    border-radius: 3px;
    color: white;
}

/*search icon dropdown styles*/
.header-wrapper > .right-buttons > .search-icon {
    position: relative;
    display: inline-block;
    transition: 0,5s;
}

.header-wrapper > .right-buttons > .search-icon > .search-bar {
    display: none;
    position: absolute;
    z-index: 1;
}

.header-wrapper > .right-buttons > .search-icon > .search-bar input {
    font-size: 1.2em;
    text-decoration: none;
    background-color: #33353b;
    border-color: white;
    border-radius: 3px;
    color: white;
    text-align: left;
    line-height: 1.5em;
    width: 250px;
    display: block;
    justify-content: flex-end;
}

.header-wrapper > .right-buttons > .search-icon:hover .search-bar {
    display: block;
}