@media (max-width: 1080px) {
    .header-wrapper {
        grid-template: 1fr 1fr / 1fr 2fr;
        height: 100%;
    }

    .header-wrapper > .logo-wrapper {
        grid-area: 1 / 1 / span 2 / span 1;
        justify-content: center;
    }

    .header-wrapper > .links-wrapper {
        grid-area: 1 / 2 / 1 / 2;
        padding: 0px !important;
        justify-self: center;
    }

    .header-wrapper > .right-buttons {
        grid-area: 2 / 2 / 2 / 2;
        justify-self: center;
    }

    .hero-section > .right-content > .hero-image {
        min-width: 410px;
    }
}

@media (max-width: 990px) {
    .hero-section {
        display: grid;
        grid-template-columns: 45% 55%;
    }

    .hero-section > .left-content > .hero-buttons button {
        font-size: 2vw;
        padding: 10px 15px;
    }    
}

@media (max-width: 750px) {
    .header-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 10px;
        row-gap: 15px;
    }

    .header-wrapper > .logo-wrapper {
        order: 1;
    }

    .header-wrapper > .links-wrapper {
        order: 2;
    }

    .header-wrapper > .right-buttons {
        order: 3;
    }

    .header-wrapper > .logo-wrapper > .logo-img img {
        width: 250px;
        height: 100%;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
    }

    .hero-section > .left-content {
        order: 1;
    }

    .hero-section > .right-content {
        order: 2;
    }

    .hero-section > .left-content > .hero-text > .hero-p-1 {
        font-size: 1.7em;
    }

    .hero-section > .left-content > .hero-text > .hero-p-2 {
        font-size: 1.5em;
    }

    .hero-section > .left-content > .hero-buttons button {
        font-size: 1.2em;
    }
}

@media (max-width: 650px) {
    .footer > .footer-tabs {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
    }
}